<h3>{{viewTitle}}</h3>

<form action="/record" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{record._id}}">
    <div class="form-group">
        <label>Vendor Name</label>
        <input type="text" class="form-control" name="vendorName" placeholder="Vendor Name" value="{{record.vendorName}}">

    </div>
    <div class="form-group">
        <label>Item Name</label>
        <input type="text" class="form-control" name="itemName" placeholder="Item Name" value="{{record.itemName}}">
        <div class="text-danger">
            {{record.itemNameError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Amount</label>
            <input type="text" class="form-control" name="amount" placeholder="Amount" value="{{record.amount}}">
            <div class="text-danger">
            {{record.amountError}}</div>
        </div>
        <div class="form-group col-md-6">
            <label>Date</label>
            <input type="text" class="form-control" name="date" placeholder="Date" value="{{record.date}}">
            <div class="text-danger">
            {{record.dateError}}</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/record/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>