<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rocord Storage</title>
    <%- include('partials/header.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar-logged.ejs') %>
    <div class="container mt-4">
      <h1>Record Detail</h1>
      <% if (error) { %>
      <p><%= message %></p>
      <a href="/record" class="btn btn-dark btn-block">Back to Record</a>

      <% } %> <% if (!error) { %>

        <form id="formEdit" data-id="<%= record.id %>">
          <input
            type="text"
            class="form-control my-2"
            name="Item Name"
            value="<%= record.itemName %>"
            id="itemNameInput"
          >
          <input
            type="text"
            class="form-control my-2"
            name="Amount"
            value="<%= record.amount %>"
            id="amountInput"
          >
          <input
          type="text"
          class="form-control my-2"
          name="Date"
          value="<%= record.date %>"
          id="dateInput"
        >
          <button
            class="btn btn-warning btn-block"
            type="submit"
          >
            Edit
          </button>
        </form>

        <hr>

        <button
          class="btn btn-danger btn-sm mt-5"
          id="btnDelete"
          data-id="<%= record.id %>"
        >
          Delete
        </button>

      <% } %>
    </div>

    <%- include('partials/footer.ejs') %>

    <script>
      const btnDelete = document.querySelector('#btnDelete')

      btnDelete.addEventListener('click', async () => {
        console.log('blueprint')
        const id = btnDelete.dataset.id
        console.log('id', id)
        try {
          const data = await fetch(`/record/${id}`, {
            method: 'delete'
          })
          const res = await data.json()

          if (res.status) {
            window.location.href = '/record'
          } else {
            console.log(res)
          }

        } catch (error) {
          console.log(error)
        }
      })


      const formEdit = document.querySelector('#formEdit');
      formEdit.addEventListener('submit', async (e) => {
        e.preventDefault()

        const itemName = document.querySelector('#itemNameInput').value;
        const amount = document.querySelector('#amountInput').value;
        const date = document.querySelector('#dateInput').value;

        const id = formEdit.dataset.id

        try {

          const data = await fetch(`/record/${id}`, {
            method: 'put',
            headers: {
              'Content-Type' : 'application/json'
            },
            body: JSON.stringify({itemName, amount, date})
          })

          const res = await data.json()

          if(res.status){
            window.location.href = '/record'
          } else {
            console.log(res)
          }
        } catch (error) {
          console.log(error)
        }
      })
    </script>

  </body>
</html>
