<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Record Storage</title>
    <%- include('partials/header.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar-logged.ejs') %>
    <div class="container mt-4">
      <h1>Record</h1>

      <a
        href="/record/create"
        class="btn btn-success my-4"
      >
        Create new record
      </a>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

            <% if (arrayRecord.length > 0) { %>

                <% arrayRecord.forEach(record => { %>

                    <tr>
                      <th scope="row"><%= record.id %> </th>
                      <td><%= record.itemName %> </td>
                      <td><%= record.amount %> </td>
                      <td><%= record.date %> </td>
                      <td>
                        <a href="record/<%= record.id %>" class="btn btn-warning btn-sm">Edit</a>
                      </td>
                    </tr>

                <% }) %>
            <% } %>

        </tbody>
      </table>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>